<main>
        <app-navbar></app-navbar>
        <div class="container-fluid">
                <div class="row">
                        <div class="col-md-3 border bg-secondary text-white">
                                <app-sidebar></app-sidebar>
                        </div>
                        <div class="col-md-9 border">
                                <app-container></app-container>
                        </div>
                </div>
                <hr>
                <footer class="footer">
                        <div class="row">
                                <div class="col-md-6">
                                        <p>Copyright &copy; 2021 AmazingBuy
                                        </p>
                                </div>
                                <div class="col-md-6 text-md-end">
                                        <a href="#" class="text-dark">Terms of Use</a>
                                        <span class="text-muted mx-2">|</span>
                                        <a href="#" class="text-dark">Privacy Policy</a>
                                </div>
                        </div>
                </footer>
        </div>
</main>