<p>login works!</p>

<div class="card">
	<h1 class="title">Login</h1>
	<form>
		<div class="input-container">
			<input id="#{label}" type="#{type}" required="required" />
			<label for="#{label}">Email</label>
			<div class="bar">
				::before
				::after
			</div>
		</div>
		<div class="input-container">
			<input id="#{label}" type="#{type}" required="required" />
			<label for="#{label}">Password</label>
			<div class="bar">
				::before
				::after
			</div>
			<div class="button-container">
				::before
				<span>Log into your Account</span>
			</div>
		</div>
	</form>
</div>