<table class="table">
    <thead class="black white-text">
      <tr>
        <th *ngFor="let head of displayedColumns" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ds of dataSource">
        <th scope="row">{{ds.position}}</th>
        <td>{{ds.name}}</td>
        <td>{{ds.weight}}</td>
        <td>{{ds.symbol}}</td>
        <td><button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0">Cancel</button></td>
      </tr>
    </tbody>
</table>
        
