<h2>Seller Stock View</h2>


<!-- <form (ngSubmit)="onSubmit(products)"> -->
<table *ngIf="products">
  <thead>
    <tr>
      <th>ID</th>
      <th>Product Name</th>
      <th>Cost</th>
      <th>Price</th>
      <th>Command</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">

      <td> <input type="text" readonly class="form-control" name="id" [(ngModel)]="p.id">
      </td>
      <td> <input type="text" readonly class="form-control" name="name" [(ngModel)]="p.name">
      </td>
      <td> <input type="number" class="form-control" name="productPrice" [(ngModel)]="p.productPrice">
      </td>
      <td> <input type="number" class="form-control" name="productQuantity" [(ngModel)]="p.productQuantity">
      </td>
      <td>
      <td><button type="submit" class="btn btn-success" (click)="onSubmit(p)">Submit</button></td>

    </tr>

  </tbody>

</table>
<!-- </form> -->