<div class="Simple example">
    <form (ngSubmit)="onAddAccount()" #myForm="ngForm">
        <p>
            <mat-form-field> 
                <mat-label>Full Name</mat-label> 
                <input matInput placeholder="Full Name" aria-required [(ngModel)]="newAccount.fullName" name="fullName">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field> 
                <mat-label>Email</mat-label> 
                <input matInput placeholder="email@example.com" aria-required [(ngModel)]="newAccount.email" name="email">
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>  -->
            </mat-form-field> 
        </p>
        <p>
            <mat-form-field> 
                <mat-label>Password</mat-label> 
                <input matInput [type]="hide ? 'password' : 'text'" required [(ngModel)]="newAccount.password" name="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide"> 
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> 
                 </button> 
             </mat-form-field> 
        </p>
        <p>
            <mat-form-field> 
                <mat-label>Date of Birth</mat-label> 
                <input matInput placeholder="mm/dd/yyyy" aria-required [(ngModel)]="newAccount.dateOfBirth" name="dateOfBirth">
            </mat-form-field> 
        </p>
        <div>
            <label>Account Type: </label>
            <mat-radio-group aria-label="Which account do you want?" aria-required [(ngModel)]="newAccount.accountType" name="accountType"> 
                <mat-radio-button value="buyer">Buyer</mat-radio-button>  
                <mat-radio-button value="seller">Seller</mat-radio-button>  
            </mat-radio-group> 
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.form.valid">Sign Up</button>




    </form>
</div>