<h1>Products</h1>
<div class="container-fluid">
    <div class="row">
        <h2>Shop By Category</h2>
            <button type="button" class="btn btn-success">Item 1</button>
            <button type="button" class="btn btn-success">Item 2</button>
            <button type="button" class="btn btn-success">Item 3</button>
            <button type="button" class="btn btn-success">Item 4</button>
            <button type="button" class="btn btn-success">Item 5</button>
            <button type="button" class="btn btn-success">Item 6</button>
            <button type="button" class="btn btn-success">Item 7</button>
            <button type="button" class="btn btn-success">Item 8</button>
            <button type="button" class="btn btn-success">Item 9</button>
            <button type="button" class="btn btn-success">Item 10</button>
    </div>
    <div class="row">
        <h2>Help & Settings</h2>


    </div>
</div>




<!--  


<mat-drawer class="sidebar" mode="side" opened>Products
    <mat-list >
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
    </mat-list>
</mat-drawer>


-->