<mat-toolbar>
    <p>navbar works!</p>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <!--make brand clickable-->
    <span>AmazingBuy</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
    <!--search bar-->
    <!--Signin/signup-->
    <!--on sign in
    -my account dropdown(buyer:{account-view,orders-view,signout},
    Seller:{account-view,all-orders,stock-view,dashboard,add-product,logout})
    -cart(buyer only)
    -->

    <input id="add-to-cart-button" name="submit.add-to-cart" title="Add to Shopping Cart"
        data-hover="Select <b>__dims__</b> from the left<br> to add to Shopping Cart" class="a-button-input"
        type="submit" value="Add to Cart" aria-labelledby="submit.add-to-cart-announce">
</mat-toolbar>