<mat-toolbar class="navbar">
    <a routerLink="/home"><button id="brand" class="btn btn-success pull-right">
            <span><b>AmazingBuy</b></span>
        </button></a>
    <!--make brand clickable-->
    <app-searchbar></app-searchbar>
    <span class="example-spacer">
    </span>
    <a *ngIf="!signedAccount" routerLink="/login">
        <button id="signin" class="btn btn-success pull-right">
            <span>Signin</span>
        </button>
    </a>
    <a *ngIf="!signedAccount" routerLink="/signup">
        <button id="signup" class="btn btn-success pull-right">
            <span>Signup</span>
        </button>
    </a>
    <button *ngIf="signedAccount" mat-button [matMenuTriggerFor]="menu">My Account</button>
    <mat-menu #menu="matMenu">
        <button routerLink="/account" mat-menu-item>Account Info</button>
        <button routerLink="/orders" mat-menu-item>Orders</button>
        <button *ngIf="isSeller" routerLink="/stock" mat-menu-item>Products</button>
        <!-- <button routerLink="/addproduct" mat-menu-item>Add Product</button> -->
        <button *ngIf="isSeller" routerLink="/dashboard" mat-menu-item>Seller Dashboard</button>
        <button (click)="onLogout()" mat-menu-item>Logout</button>
    </mat-menu>

    <a routerLink="/cart">

        <button *ngIf="isBuyer" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>shopping_cart</mat-icon>
            <!-- <span [matBadge]="productsQuantity" matBadgeOverlap="true"></span> -->
        </button>
    </a>
    <!--search bar-->
    <!--Signin/signup-->
    <!--on sign in
    -my account dropdown(buyer:{account-view,orders-view,signout},
    Seller:{account-view,all-orders,stock-view,dashboard,add-product,logout})
    -cart(buyer only)
    -->

</mat-toolbar>