<h2>Account Information</h2>
<table>
    <tbody>
        <tr>
            <td> <label for="exampleFormControlInput1" class="form-label">Full name</label>
            </td>
            <td> <input type="text" readonly class="form-control" id="exampleFormControlInput1"
                    value="{{signedAccount.fullName}}">
            </td>
        </tr>
        <tr>
            <td> <label for="exampleFormControlInput1" class="form-label">Email address</label>
            </td>
            <td> <input type="email" class="form-control" id="exampleFormControlInput1" value="{{signedAccount.email}}">
            </td>
        </tr>
        <tr>
            <td> <label for="exampleFormControlInput1" class="form-label">Password</label>
            </td>
            <td> <input type="password" class="form-control" id="exampleFormControlInput1"
                    value="{{signedAccount.password}}">
            </td>
        </tr>
        <tr>
            <td> <label for="exampleFormControlInput1" class="form-label">Account Type</label>
            </td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1"
                    value="{{signedAccount.accountType}}">
            </td>
        </tr>
        <tr>
            <td> <label for="exampleFormControlInput1" class="form-label">D.O.B.</label>
            </td>
            <td> <input type="text" class="form-control" readonly id="exampleFormControlInput1"
                    value="{{signedAccount.dateOfBirth}}">
            </td>
        </tr>

    </tbody>
</table>

<!--Buyer-account-info & list of orders-->
<!--Seller-account-info -->