<router-outlet></router-outlet>
<!--<app-product-list></app-product-list>-->

<!-- <app-product-list></app-product-list> -->

<!-- <app-buyer-order-view></app-buyer-order-view> -->
<!--<app-buyer-product-view></app-buyer-product-view>-->

<!-- <app-login></app-login> -->

<!--<app-buyer-cart-view></app-buyer-cart-view>-->

<!-- <app-seller-order-view></app-seller-order-view> -->

<!--<app-seller-stock-view></app-seller-stock-view>-->
<!-- <app-buyer-product-view></app-buyer-product-view> -->
<!-- <app-seller-add-product></app-seller-add-product> -->
<!--<app-seller-edit-product></app-seller-edit-product>-->
<!-- <app-stripe></app-stripe> -->


<!-- <app-account-view></app-account-view> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-login></app-login> -->