<h2>Seller Order View</h2>
<table class="table">
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of displayedColumns" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ds of dataSource">
      <th scope="row">{{ds.id}}</th>
      <td>{{ds.account}}</td>
      <td>{{ds.products[0].productPrice}}</td>
      <td><button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0">Ship</button></td>
      <td><button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0">Cancel</button></td>
    </tr>
  </tbody>
</table>
      

