<h2>Buyer Cart View</h2>
<table *ngIf="orders">
  <thead>
    <tr>
      <th>ID</th>
      <th>Is Paid</th>
      <!-- <th>Cost</th> -->
      <th>Ship</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of orders">
      <td> <input type="text" readonly class="form-control" name="id" [(ngModel)]="o.id">
      </td>
      <td> <input type="text" readonly class="form-control" name="paid" [(ngModel)]="o.paid">
      </td>
      <td> <input type="text" class="form-control" name="shipped" [(ngModel)]="o.shipped">
      </td>
      <!-- <td> <input type="number" readonly class="form-control" name="price" value="10.99" [(ngModel)]="price">
      </td> -->
      <td><button type="submit" class="btn btn-success" (click)="onRemove(o)">Remove</button></td>
    </tr>
  </tbody>
</table>